# the virtual machine
webserver/.vagrant

# the websec project dir
webserver/resources/websec/
webserver/Vagrantfile

# the docker dir
webserver/resources/docker/

# file system
.DS_Store

# log files
*.log
