# the virtual machine
websec/.vagrant

# the websec project dir
websec/resources/www/
websec/Vagrantfile

# the docker dir
websec/resources/docker/

# file system
.DS_Store

# log files
*.log

# local settings
.vscode
